SECRET_KEY=TEMPORARY_UNSAFE_KEY
MAX_CONTENT_LENGTH=32768
DATABASE_URL=postgresql://bigboard:mypassword@localhost:5432/bigboard_db

# mount locations for docker container
SPELLER=speller
SPELLER_WS=speller_workspace

# speller source and executable filenames
SPELLER_BASENAME=speller4
DICTIONARY_H_FILENAME=distribution_dictionary.h

# benchmark filenames: dictionary.c source and executable to use
BENCHMARK_BASENAME=dictionary50

# docker container configuration
CONTAINER_IMAGE_NAME=bigboard-sandbox
CONTAINER_SCRIPT=docker_entry.sh
CONTAINER_MEM=256m
CONTAINER_CPUS=0.5
CONTAINER_PID_LIMIT=50
CONTAINER_FSIZE_LIMIT=fsize=26214400
CONTAINER_TIMEOUT=90

# checker configuration
ITERATIONS=20

# submission settings
SUBMISSIONS_MAX_PER_USER=50
SUBMISSIONS_LEADERBOARD_ITEMS_PER_PAGE=50
SUBMISSION_POLL_INTERVAL_MS=750

# other
DISABLE_STATUS_ROUTE_LOGS=1