# ignore python cached stuff
*.pyc
__pycache__/

# ignore log files
*.log

# don't commit secret key or db login info
.env
.venv/

# package metadata
*.egg-info

# Don't commit CS50x/speller distribution code, it can be obtained from CS50
# Also don't student submissions dir
speller.zip
submission/