# ignore python cached stuff
*.pyc
__pycache__/

# ignore log files
*.log

# don't commit secret key or db login info
.env

# package metadata
*.egg-info

# Don't commit CS50x/speller distribution code, it can be obtained from CS50
speller.zip
speller/

# files where student submissions get temporarily written to
speller_workspace/_dictionary.c
speller_workspace/_dictionary.h

# Ignore flask_session cookies
flask_session/
