{% extends "layout.html" %}

{% block extra_head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='submit_page.css') }}">

{% endblock %}

{% block main %}

    <div id="submit-page-container">
        <div id="use-dist-container">
            <label id="use-dist-label">
                <input type="checkbox" id="use-dist-checkbox" autocomplete="off" checked>
                Use distribution <code>dictionary.h</code>
            </label>
        </div>

        <form id="submit-form">
            <div id="textareas-container">
                <div class="textarea-group">
                    <label for="code-input">Paste your <code>dictionary.c</code> below:</label>
                    <textarea id="code-input" name="code" placeholder="// your dictionary.c here..."
                        spellcheck="false"></textarea>
                </div>
                <div id="textarea-divider" hidden></div>
                <div class="textarea-group" id="header-group" hidden>
                    <label for="header-input">Paste your <code>dictionary.h</code> below:</label>
                    <textarea id="header-input" name="header" placeholder="// your dictionary.h here..."
                        spellcheck="false"></textarea>
                </div>
            </div>
            <div id="submit-container">
                <button type="submit" class="submit-code-button" id="submit-btn" disabled>Submit</button>
                <div id="queue-status" hidden></div>
            </div>
        </form>

        <div id="output-area">
            <pre id="output"></pre>
        </div>
    </div>

    <script src="{{ url_for('static', filename='submit_page.js') }}"></script>

{% endblock %}
